body {
  background-color:black;
}
ul {
  color:pink;
}
ul li {
  list-style:none;
  cursor:pointer;
}
.container {
  margin:0 auto;
  width:100%;
  height:auto;
}
.container video {
  height:480px;
  width:854px;
  margin:0 auto;
}